*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    color: #666666;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 20px 20px;
}

.logo{
    width: 70%;
    padding-left: 20px;
    padding-top: 20px;
}

.container{
    width: 100%;
    max-width: 1500px;
    background-color: #e9e9e9;
    border-radius:20px;
    display:flex;
    justify-content : space-between;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;
}

.text{
    color:#1b1b1b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px 20px;
}