*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    color: rgb(41, 41, 145);
    text-align: center;
}

.logo{
    width: 70%;
    padding-left: 20px;
    padding-top: 20px;
}